body {
   
}

#Banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

h1{
    text-align: center;
    height: 150px;
    border: 10px solid #000025;
    padding-top: 20px;
    margin: 40px;
}

p {
    text-align: center;
}

#dickerson {
    font-size: 20px;
}

strong {
    color: darkblue;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.principal {
    background: #CCCCCC;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical align: top;
    width: 20%;
    margin-right: 15%
}
. imagembeneficios {
    width: 50%;
}
